DashboardSupport:
  module: dashboard_support
  class: DashboardSupport
  disable: false
  test_mode: false
  debug: false

  appname: dashboard_colors
  home_state_entity: input_select.home_state
  app_state: app.autoclimate_state

  climate:
    entities:
      - climate.cabin
      - climate.master_bath_floor_heater
      - climate.gym
      - climate.tv_room