GentleWakeup:
  module: gentlewakeup
  class: GentleWakeup
  dependencies:
    - SonosApp
    - LightFade
  test_mode: false
  
  # This is a normal input_boolean defined in your HomeAssistant Configuration
  # For me, I use it so I can turn GentleWakeup off - for instance for a holiday.
  constrain_input_boolean: input_boolean.gentle_wakeup 

  # This is another normal input_boolean
  # I use it to turn off the app if I'm away from the house
  constrain_input_select: input_select.home_state,Home

  # Alarms is the key section. You can have as many alarms as you want.
  alarms:
    alarm1: # Pick any name you want. Shows in the logs.
      schedule:
        constrain_days: mon,tue,wed,thu,fri
        time: "08:00:00"
        duration: 60 # Optional - turn off in 60 mintues
      lights:
        entity_id:
          - "light.xxx" # Bedroom
        brightness_start: 0
        brightness_end: 100
        duration: 480 # Seconds

      # This allows you to turn on other lights as well without turning them off after duration.
      # For me, this turns on the hallway light.
      lights_on_nooff:
        entity_id:
          - light.yyy
      sonos:
        player_name:
          - "Bedroom"
        favorite:
          uri: "x-sonosapi-radio:ST%3a36601575458?sid=236&flags=8300&sn=6"
          title: "Morning Music"
        volume: 25
    alarm2:
      #...
